html, body, #__next { height: 100%; margin: 0; font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.container { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; gap: 8px; }
